[Unit]
Description=Sets WD USB External HD to sleep at specified idle time

[Service]
Type=simple
Environment=DRIVES_TO_SLEEP=/dev/sdc
Environment=IDLE_TIME=600
ExecStart=/usr/sbin/hd-idle -d -i $IDLE_TIME $DRIVES_TO_SLEEP -l /var/log/hd-idle.log
ExecReload=/bin/kill -HUP hd-idle

[Install]
WantedBy=multi-user.target
